---
---
{{ logo_center_html | safe }}

# {{ title_md | safe }}

{{ badges_md | safe }}

{{ description_md | safe }}

{{ readme_md | safe }}

{{ copyright_md | safe }}

[mathjslab.com](https://mathjslab.com/), [mathjslab@gmail.com](mailto:mathjslab@gmail.com).

{{ pkg_isbn_doi_md | safe }}

{{ app_isbn_doi_md | safe }}
