{
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 190,
    "overrides": [
        {
            "files": "*.svg",
            "options": {
                "parser": "html"
            }
        }
    ]
}
