# dependencies directory.
node_modules/
# Advertising directory (there are Inkscape .svg files that cannot be changed).
advertising/
# Report directory.
report/
# Resource directory.
resource/
# Minifyed javascript.
*.min.js
# Scripts build directory.
script/build/
