---
---
# Badges checkup

## Language Switcher

### English

{{ lang_switch_en_md }}

### Português

{{ lang_switch_pt_md }}

### Español

{{ lang_switch_es_md }}

## Website

{{ badge_website_address_md }}

{{ badge_website_status_md }}

## Netlify Deploys

### mathjslab-app

{{ badge_netlify_app_md }}

### mathjslab-www

{{ badge_netlify_www_md }}

## CircleCI mathjslab-app

{{ badge_circleci_app_md }}

## GitHub Created At

### mathjslab

{{ badge_created_at_pkg_md }}

### mathjslab-app

{{ badge_created_at_app_md }}

### .github

{{ badge_created_at_org_md }}

### mathjslab-www

{{ badge_created_at_www_md }}

## Other

{{ badges_md }}
