---
---
# {{ files.md.title }}

{{ files.es.md.lang_switch }}

Los archivos en este directorio son templates de prueba para la información en el directorio [data](https://github.com/MathJSLab/.github/tree/main/data).

{{ test_data_files }}
