---
---
# {{ files.md.title }}

{{ files.pt.md.lang_switch }}

Os arquivos neste diretório são templates de teste para a informação no diretório [data](https://github.com/MathJSLab/.github/tree/main/data).

{{ test_data_files }}
