---json
{
  colors: {{ logo_colors | stringify }}
}
---
{% renderTemplateFile "layouts/mathjslab-logo-color-scheme.css.njk", { logo_colors_scheme: colors.dark, logo_strokeTrace_fill_none: "  fill: none;\\n" } %}