---json
{
  colors_scheme: {{ logo_colors_scheme | stringify }},
  strokeTrace_fill_none: "{{ logo_strokeTrace_fill_none }}"
}
---
.fillSymbol {
  fill: {{ colors_scheme.fillSymbol }};
}
.strokePanel {
  stroke: {{ colors_scheme.strokePanel }};
}
.fillPanel {
  fill: {{ colors_scheme.fillPanel }};
}
.strokeTrace {
{{ strokeTrace_fill_none }}  stroke: {{ colors_scheme.strokeTrace }};
}
.fillTrace {
  fill: {{ colors_scheme.fillTrace }};
}