---
---
# Badges checkup

## Language Switcher

### English

{{ files.en.md.lang_switch }}

### Português

{{ files.pt.md.lang_switch }}

### Español

{{ files.es.md.lang_switch }}

## Website - {{ files.md.mathjslab_com_link }}

### Address

{{ files.md.badge_website_address }}

### Status

{{ files.md.badge_website_status }}

## [Netlify](https://app.netlify.com/) Deploy

### [mathjslab-app](https://app.netlify.com/sites/mathjslab-app/overview)

{{ files.md.badge_netlify_app }}

### [mathjslab-www](https://app.netlify.com/sites/mathjslab-www/overview)

{{ files.md.badge_netlify_www }}

## [CircleCI](https://app.circleci.com/)

### [mathjslab-app](https://github.com/MathJSLab/mathjslab-app)

{{ files.md.badge_circleci_app }}

## License

### [mathjslab](https://github.com/MathJSLab/mathjslab)

github: {{ files.md.badge_license_pkg }}

npm: {{ files.md.badge_license_npm_pkg }}

### [mathjslab-app](https://github.com/MathJSLab/mathjslab-app)

{{ files.md.badge_license_app }}

### The MIT License

{{ files.md.badge_license_mit }}

### UNLICENSED

{{ files.md.badge_license_unlicensed }}

## GitHub Created At

### [mathjslab](https://github.com/MathJSLab/mathjslab)

{{ files.md.badge_created_at_pkg }}

### [mathjslab-app](https://github.com/MathJSLab/mathjslab-app)

{{ files.md.badge_created_at_app }}

### [.github](https://github.com/MathJSLab/.github)

{{ files.md.badge_created_at_org }}

### [mathjslab-www](https://github.com/MathJSLab/mathjslab-www)

{{ files.md.badge_created_at_www }}
