---
---
<p align="center">
    <a href="https://mathjslab.com/" target="_blank" rel="noopener"><img src="mathjslab-logo.svg" alt="MathJSLab" width="200" height="200" /></a>
</p>
# {{ title_md }}

{{ lang_switch_es_md }}

{{ badge_website_address_md }}
{{ badge_website_status_md }}
{{ badges_md }}

{{ description_es_md }}

{{ profile_es_md }}

{{ create_workspace_md }}

{{ copyright_md }}

{{ org_addr_md }}.

{{ pkg_isbn_doi_md }}

{{ app_isbn_doi_md }}
