---
---
<p align="center">
    <a href="https://mathjslab.com/" target="_blank" rel="noopener"><img src="../images/mathjslab-logo.svg" alt="MathJSLab" width="200" height="200" /></a>
</p>

# {{ files.md.title }}

{{ files.md.lang_switch }}

{{ files.md.badge_website_address }}
{{ files.md.badge_website_status }}
{{ files.md.badges }}

{{ files.pt.md.description }}

{{ files.pt.md.profile }}

{{ files.md.create_workspace }}

{{ files.md.copyright }}

{{ files.md.org_addr }}.

{{ files.md.pkg_isbn_doi }}

{{ files.md.app_isbn_doi }}
