---
---
{{ files.html.logo_center_profile }}

# {{ files.md.title }}

{{ files.pt.md.lang_switch }}

{{ files.md.badge_website_address }}
{{ files.md.badge_website_status }}
{{ files.md.badges }}

{{ files.pt.md.description }}

{{ files.pt.md.organization_presentation }}

{{ files.pt.md.trademark_notice }}

{{ files.pt.md.organization_repositories }}

{{ files.pt.md.logbook_notice }}

{{ files.pt.md.roadmap_notice }}

{{ files.pt.md.clone_instruction }}

{{ files.md.create_workspace }}

{{ files.md.copyright }}

{{ files.md.org_addr }}.

{{ files.md.pkg_isbn_doi }}

{{ files.md.app_isbn_doi }}

Este perfil da organização foi modificado pela última vez em {% currentDate 'dd/MM/yyyy' %}.