    <meta name="color-scheme" content="light dark">
    <link rel="icon" href="{{ lightIcon }}" sizes="{{ sizesIcon }}" type="image/x-icon" media="(prefers-color-scheme: light)">
    <link rel="icon" href="{{ darkIcon }}" sizes="{{ sizesIcon }}" type="image/x-icon" media="(prefers-color-scheme: dark)">
    {% if svgIcon %}
    <link rel="icon" href="{{ svgIcon }}" sizes="any" type="image/svg+xml">
    {% endif %}
    {% if appleTouchIcon %}
    <link rel="apple-touch-icon" href="{{ appleTouchIcon }}">
    {% endif %}