---
permalink: images.html
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images</title>
</head>

<body>
    <h1>Generated Images</h1>
    <ul>
        <li>{{ mathjslab.languages.en.language }}</li>
    </ul>
</body>

</html>
