---
permalink: images.html
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images</title>
    <link rel="icon" href="img/ico/favicon.ico" />
    <link rel="icon" href="img/ico/favicon-dark.ico" media="(prefers-color-scheme: dark)" />
</head>

<body>
    <h1>Generated Images</h1>
    <h2>Logo</h2>
    <img alt="MathJSLab logo" src="mathjslab-logo.svg" width="315" height="315" />
    <h2>Logo light mode</h2>
    <img alt="MathJSLab logo" src="mathjslab-logo-light.svg" width="315" height="315" />
    <h2>Logo dark mode</h2>
    <img alt="MathJSLab logo" src="mathjslab-logo-dark.svg" width="315" height="315" />
</body>

</html>
